on:
  push:
  pull_request:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    container:
      image: zmkfirmware/zmk-build-arm:stable

    steps:
      - name: Prepare variables
        run: |
          echo "zephyr_version=${ZEPHYR_VERSION}" >> $GITHUB_ENV

      - name: Checkout
        uses: actions/checkout@v3

      - name: Set up build tools
        run: |
          apt-get update
          apt-get install -y python3-pip python3-venv protobuf-compiler curl
          curl -fsSL https://deb.nodesource.com/setup_18.x | bash -
          apt-get install -y nodejs
          python3 -m venv .venv
          source .venv/bin/activate
          # 降级 protobuf 保证 Nanopb 兼容
          pip install "protobuf<4.0.0" fonttools
          npm install -g lv_font_conv
        shell: bash

      - name: Cache west modules
        uses: actions/cache@v3
        continue-on-error: true
        env:
          cache_name: cache-zephyr-${{ env.zephyr_version }}-modules
        with:
          path: |
            modules/
            zephyr/
            zmk/
          key: ${{ runner.os }}-build-${{ env.cache_name }}-${{ hashFiles('**/west.yml', '**/build.yaml') }}
          restore-keys: |
            ${{ runner.os }}-build-${{ env.cache_name }}-
            ${{ runner.os }}-build-
            ${{ runner.os }}-

      - name: Prepare west
        run: |
          west init -l config
          west update
          west zephyr-export
          source .venv/bin/activate
          pip install "protobuf<4.0.0" -r zephyr/scripts/requirements.txt
          git config --global --add safe.directory $PWD
        shell: bash

      - name: West build hw75_keyboard@1.1
        run: |
          source .venv/bin/activate
          west build -s zmk/app -b hw75_keyboard@1.1 -- \
            -DZMK_CONFIG=${GITHUB_WORKSPACE}/config \
            -DKEYMAP_FILE=${GITHUB_WORKSPACE}/config/hw75_keyboard.keymap
        env:
          PROTOCOL_BUFFERS_PYTHON_IMPLEMENTATION: python
        shell: bash

      - name: Rename artifacts
        run: |
          mkdir -p build/artifacts
          if [ -f build/zephyr/zmk.uf2 ]; then
            cp build/zephyr/zmk.uf2 "build/artifacts/hw75_keyboard-1.1-zmk.uf2"
          fi
          if [ -f build/zephyr/zmk.hex ]; then
            cp build/zephyr/zmk.hex "build/artifacts/hw75_keyboard-1.1-zmk.hex"
          fi
          cp build/zephyr/zmk.bin "build/artifacts/hw75_keyboard-1.1-zmk.bin"
        shell: bash

      - name: Archive
        uses: actions/upload-artifact@v4
        with:
          name: firmware
          path: build/artifacts
